
.new{
    background-color: rgba(37,13,105,255);
    min-height: 100vh;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    
  }
  
  
  .question {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    margin-top: 50px;
  }
  
  .question.expanded {
    background-color: #f0f0f0;
  }
  
  .answer {
    padding: 10px;
  }
  .arrow {
    width: 12px;
    height: 12px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(-45deg); 
    margin-right: 10px;
    transition: transform 0.3s ease; /* Add smooth animation on transform */
  }
  
  .question.expanded .arrow {
    transform: rotate(135deg); /* Rotate the arrow when the accordion is expanded */
  }