.backgroundF{
    background-color: rgba(37,13,105,255);
    min-height: 100vh;
    overflow: auto;
}

.review-box {
  padding: 20px!important;
  border: 1px solid black;
  margin: 20px 0px!important;
  border-radius: 15px;
}
.newF{
    max-width: 600px;
    margin: 0 auto;
    background-color: #4D3E72;
    min-height: 50px;
    margin-top: 40px;
}
.feedback-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    
  }
  
  .feedback-textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .send-button {
    background-color: #3ca542;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .newRev{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    cursor: default;
  }
  /* Media query for smaller screens */
@media (max-width: 768px) {
  
    .newF {
      margin-top: 30px;
      width: 400px;
    }
  
    .feedback-container {
      max-width: 100%;
    }
  
    .feedback-textarea {
      margin-right: 20px;    }
  }

  .review-row {
    display: flex;
    align-items: center;
  }
  
  .review {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D3E72;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
  }
  
  .review.selected {
    background-color: #3ca542;
  }
  