/* FeedbackItem.css */

.feedback-item {
    display: flex;

    background-color: transparent;
    color: white;
    padding: 10px;
    border: 1px solid white; /* Optional: Add a border for better visual separation */
    width: 75%;
    margin-bottom: 15px;
    border-radius: 12px;
    
  }
  
  .feedback-item i {
    font-size: 50px;
    margin-right: 10px;
  }
  
  .feedback-content {
    flex: 1;
  }
  
  .username {
    font-weight: bold;
    font-size: x-large;
    margin-top: 5px;

    
  }
  
  .message {
    margin-top: 5px;
  }
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 58vh; /* Ensure the container takes up at least the full viewport height */
  }
  .Footer {
    margin-top: auto; /* Push the footer to the bottom */
  }