@font-face { font-family: ‘Montserrat’; src: url(‘montserrat.ttf’); } 
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
  height: 100%;
  width: 100%;
  background-color: #250D69 !important;
  font-family: “Montserrat”, sans-serif;
  /* color: white!important; */
}

.css-ag7rrr-MuiTypography-root {
  font-family: “Montserrat”, sans-serif;
  color: white;
}

.logo {
  margin-bottom:10px;
  max-width: 60px;
  font-family: 'Montserrat';
}

.usernav {
  display: inline-flex;
    float: right;
}


.crud-icons {
  max-width: 50px;
}

.AppBar a {
  color: inherit;
  text-decoration: none;
  margin-right: 16px;
}

.AppBar a:hover {
  color: lightblue;
}

.sidebar {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 200px!important;
  display: flex;
  align-items: center;
  position: relative;
  left: 0 !important;
  background-color: #212121!important;
}


.nav-links {
  display: contents!important;

}

.nav-links a {
  color:white!important;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.css-1oqqzyl-MuiContainer-root {
  max-width: none!important;
  
}

.css-k008qs {
  display: block!important;
}

a {
  color: white!important;
  font-size: 18px!important;
}

/* Header */
.navigation {
  
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: transparent;
  color: black;

}


.brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}

.nav-flex {
  display: flex;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {

  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {

  text-decoration: none;
  display: block;
  width: 100%;
  font-family: 'Montserrat';
}

.hamburger {

  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #2642af;
}

.hist-box {
  background-color: black;
  border-radius: 15px;
  padding: 20px;
  margin-top:20px;
}

.record-box {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
}


/* Footer */
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #212121!important;
}

.socials {
  margin-top: 10px;
  padding-right: 20px;
  max-width: 30px;
}
.humannlogo{
  width:30px;
  height:30px;
}
@media screen and (max-width: 700px) {

  .pic-icon {
    max-width: 150px;
  }

  .nav-flex {
    display: unset;
  }

  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;

  }

  .sidebar {
    height: 0px;
  }
  
  .navigation-menu ul {

    position: absolute;
    top: 60px;
    left: 0;
    
    flex-direction: column;
    
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;
    background-color: #212121;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
    background-color: #212121;
    height: 320px;
    z-index: 100;
  }
  
  .logo {
    max-width: 60px;
  }
  

  .sidebar {

    width: 100%!important;
    background-color: transparent!important;
  }

  .css-r6ewbb-MuiToolbar-root {
    background-color: #212121;
  }

  .nav-links {
    display: flex!important;
  }
  .css-k008qs {
    margin-left: 0px;
  }
}
.navlink{
  margin-top: 20px;
  color:white !important;
  font-weight: bold;
  font-size: 18px;
  margin-right:30px;
}
.dropdown-menu.show{
  background-color: #11023b;
}
.dropdown-menu a:hover{
  background-color:#422b81 ;
}